# Bundler
/.bundle

# SQLite
/db/*.sqlite3
/db/*.sqlite3-*

# Logs and temp files
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Uploaded files in development
/storage/*
!/storage/.keep

# Assets
/public/assets
/public/packs
/public/packs-test

# Rails
.byebug_history
/config/master.key
.yarn-integrity
